.overflow-container {
  border: solid 5px green;
  overflow: auto;
}

.column-list {
  display: flex;
  list-style: none;
  align-content: space-around;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
}

li {
  margin: 5px;
}

.product-container{
  position: relative;
}

.catalog-img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  position: block;
  opacity: 1;
  transition: 0.5s ease;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.product-name {
  color: black;
}

.product-container:hover .catalog-img {
  opacity: 0.3;
}

.product-container:hover .middle {
  opacity: 1;
}
