.horizontal-flip {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  display: inline-block;
}

.home-page{
  flex:10;
  font-family: 'Courier New', Courier, monospace;
  font-size: 300px;
  align-content: center;
  align-items: center;
  text-align: center;
}
