.fixed-container {
  top: 0px;
  position: sticky;
  margin-bottom: 15px;
  z-index: 9999;
  display:flex;
  border: solid 5px green;
}

.horizontal-flip {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  display: inline-block;
}

.left-bar{
  align-content: flex-start;
  border: solid 5px red;
}
