.single-img {
  max-height: 450px;
  max-width: 450px;
  object-fit: contain;
  border-radius: 5%;
  border: 1px solid lightgray;
}

.single-img-small {
  height: 100px;
  width: 100px;
  object-fit: contain;
  border-radius: 5%;
  border: 1px solid lightgray;
  margin: 5px;
  opacity: 0.4;
}

.active-img {
  opacity: 1;
}

.aspect-ratio-box {
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  background: white;
  position: relative;
}

.aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div {
  font-family: 'Courier New', Courier, monospace;
}

.d-flex {
  margin-top: 2%;
}

.checkborder {
  border: 5px solid red;
}

.row{
  grid-gap: 5px;
}

.container-fluid{
  grid-gap: 5px;
}



/* review*/
.review-top-lightgrey-border {
  width: 97vw;
  border-top: 1px solid lightgrey;
}

.review-container {
  border: 5px solid green;
}
